<div [class.mat-elevation-z2]="!isActive" [class.mat-elevation-z8]="isActive" class="document-card">
  <mat-card style="height: 100%; border-radius: 10px">
    <mat-card-content class="content">
      <div class="document-header">
        <span class="title" [matTooltip]="document.name">{{document.name}}</span>
        <!-- todo: get document thumbnail -->
        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openDetails()">
            <mat-icon>info</mat-icon>
            <span style="font-size: 0.8rem">More</span>
          </button>
          <button mat-menu-item>
            <mat-icon>cloud_download</mat-icon>
            <span style="font-size: 0.8rem">Download</span>
          </button>
          <button mat-menu-item (click)="openAssigningTags()">
            <mat-icon>style</mat-icon>
            <span style="font-size: 0.8rem">Tag</span>
          </button>
          <button mat-menu-item>
            <mat-icon>remove_circle</mat-icon>
            <span style="font-size: 0.8rem">Remove</span>
          </button>
        </mat-menu>
      </div>
      <div class="content file-thumbnail">
        <mat-icon style="transform: scale(3)" [svgIcon]="document.contentType"></mat-icon>
      </div>
    </mat-card-content>
  </mat-card>
</div>
