<div mat-subheader style="font-size: 1.5rem">Rooms</div>
<div class="action-sections">
  <button mat-fab color="white" matTooltip="Upload document" (click)="openUploadDocumentDialog()"
          [disabled]="!(userLoggedIn$ | async)">
    <mat-icon>attachment</mat-icon>
  </button>
  <button mat-fab color="white" matTooltip="Create room" (click)="openCreateRoomDialog()"
          [disabled]="!(userLoggedIn$ | async)">
    <mat-icon>create_new_folder</mat-icon>
  </button>
  <button mat-fab color="white" matTooltip="Share room" (click)="openShareRoomDialog()"
          [disabled]="!(userLoggedIn$ | async)">
    <mat-icon>share</mat-icon>
  </button>
  <button mat-fab color="white" matTooltip="Search for phrase" (click)="openFullTextSearch()"
          [disabled]="!(userLoggedIn$ | async)">
    <mat-icon svgIcon="magnifying-glass"/>
  </button>
</div>
<mat-divider *ngIf="(rooms$ | async)?.length"/>
<mat-list style="width: 100%">
  <mat-list-item [routerLink]="['/rooms', room.id]" (click)="selectRoom(room.id)" *ngFor="let room of rooms$ | async">
    <mat-icon matListItemIcon *ngIf="(room.isOwner && room.isPrivate)">folder</mat-icon>
    <mat-icon matListItemIcon *ngIf="(room.isOwner && !room.isPrivate)">folder_open</mat-icon>
    <mat-icon matListItemIcon *ngIf="!room.isOwner">folder_shared</mat-icon>
    <div matListItemTitle> {{room.name}} </div>
    <div *ngIf="extendDisplay" matListItemLine> {{room.createdAt | date}}, {{documentCount(room)}} </div>
  </mat-list-item>
</mat-list>
<mat-divider *ngIf="userLoggedIn$ | async"/>
