<h2 mat-dialog-title>Assign tags</h2>
<mat-dialog-content>
  <mat-form-field class="example-chip-list">
    <mat-label>Tags</mat-label>
    <mat-chip-grid #chipGrid aria-label="Enter tag">
      <mat-chip-row *ngFor="let tag of tags"
                    (removed)="remove(tag)"
                    [editable]="true"
                    (edited)="edit(tag, $event)"
                    [aria-description]="'press enter to edit ' + tag.value">
        {{tag.value}}
        <button matChipRemove [attr.aria-label]="'remove ' + tag.value">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
      <input placeholder="New tag..."
             [matChipInputFor]="chipGrid"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="add($event)"/>
    </mat-chip-grid>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button (click)="submit()" type="submit" [mat-dialog-close]="true">Save</button>
  <button mat-button color="warn" mat-dialog-close>Cancel</button>
</mat-dialog-actions>
