<div *ngIf="selectedRoom$ | async as room" class="card-grid">
  <div *ngIf="!(loading$ | async) else spinner">
    <mat-grid-list [cols]="columns" rowHeight="4:6">
      <mat-grid-tile-header>{{room.name}}</mat-grid-tile-header>
      <mat-grid-tile *ngFor="let item of documents$ | async">
        <document class="document-card" [title]="item.name" [file]="item.contentType"/>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>

<ng-template #spinner>
  <div>
    <mat-spinner style="margin:0 auto;" mode="indeterminate"/>
  </div>
</ng-template>

<!--todo: create two modes of display here -> first if full text search, second if simple browsing through files -->
