.document-card {
  height: 100%;
  width: 90%;
}

.card-grid {
  align-content: center;
  align-items: center;
  margin: 1rem;
}

.loading {
  text-align: center;
}

.header {
  margin-bottom: 1rem;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 0.6rem;
}

.filter-section {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.empty-container {
  top: 4rem;
  gap: 50px;
  text-align: center;
  height: 120px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.room-title-toolbar {
  display: flex;
  margin-bottom: -5px;
}

.room-action-button {
  margin-top: -3px;
  margin-left: auto;
  height: 24px;
}
