.document-card {
  height: 100%;
  width: 90%;
}

.card-grid {
  align-content: center;
  align-items: center;
  margin: 1rem;
}

.loading {
  text-align: center;
}

.header {
  margin-bottom: 1rem;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.filter-section {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
