<div *ngIf="selectedRoom$ | async as room" class="card-grid">
  <div *ngIf="!(loading$ | async) else spinner">
    <mat-grid-list [cols]="columns" rowHeight="4:6">
      <mat-grid-tile-header>
        <div class="header">
          <div style="display: inline-block;">
            <span class="title">{{room.name}}</span>
            <mat-icon matTooltip="This room is private" style="margin-bottom: -3px; margin-left: 4px"
                      *ngIf="room.isPrivate">lock
            </mat-icon>
            <mat-icon matTooltip="This room is public" style="margin-bottom: -3px; margin-left: 4px"
                      *ngIf="!room.isPrivate">lock_open
            </mat-icon>
          </div>
          <mat-divider/>
          <div class="filter-section" *ngIf="tagsNotEmpty | async">
            <span style="font-size: 1rem">Tags</span>
            <mat-chip-listbox [multiple]="true">
              <mat-chip *ngFor="let tag of tags$ | async">{{tag}}</mat-chip>
            </mat-chip-listbox>
          </div>
        </div>
      </mat-grid-tile-header>
      <div *ngIf="(documents$ | async)?.length else empty">
        <mat-grid-tile *ngFor="let item of documents$ | async">
          <document class="document-card" [document]="item"/>
        </mat-grid-tile>
      </div>
    </mat-grid-list>
  </div>
</div>

<ng-template #empty>
  <div class="empty-container">
    <div>
      <mat-icon svgIcon="magnifying-glass" style="transform: scale(3.5);"></mat-icon>
    </div>
    <div>
      <span style="font-size: 1.5rem">No documents found in this room</span>
    </div>
  </div>
</ng-template>

<ng-template #spinner>
  <div>
    <mat-spinner style="margin:0 auto;" mode="indeterminate"/>
  </div>
</ng-template>

<!--todo: create two modes of display here -> first if full text search, second if simple browsing through files -->
