<div *ngIf="selectedRoom$ | async as room" class="card-grid">
  <div *ngIf="!(loading$ | async) else spinner">
    <mat-grid-list [cols]="columns" rowHeight="4:6">
      <mat-grid-tile-header>
        <div class="header">
          <!--          TODO HERE:-->
          <!--          <p>add button in right top corner with options:</p>-->
          <!--          <ul>-->
          <!--            <li>people (see people who have access to this room)</li>-->
          <!--            <li>delete</li>-->
          <!--          </ul>-->
          <div class="room-title-toolbar">
            <span class="title">{{room.name}}</span>
            <mat-icon matTooltip="This room is private" style="margin-top: -3px; margin-left: 4px"
                      *ngIf="room.isPrivate">lock
            </mat-icon>
            <mat-icon matTooltip="This room is public" style="margin-top: -3px; margin-left: 4px"
                      *ngIf="!room.isPrivate">lock_open
            </mat-icon>
            <button mat-flat-button class="room-action-button" [matMenuTriggerFor]="menu">More</button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>supervisor_account</mat-icon>
                <span style="font-size: 0.8rem">Check access</span>
              </button>
              <button mat-menu-item>
                <mat-icon>remove_circle</mat-icon>
                <span style="font-size: 0.8rem">Remove</span>
              </button>
              <button mat-menu-item disableRipple>
                <span style="font-size: 0.8rem">Last update: {{room.modifiedAt | date: 'medium'}}</span>
              </button>
            </mat-menu>
          </div>
          <mat-divider/>
          <div class="filter-section" *ngIf="tagsNotEmpty | async">
            <span style="font-size: 1rem">Tags</span>
            <mat-chip-listbox [multiple]="true">
              <mat-chip *ngFor="let tag of tags$ | async">{{tag}}</mat-chip>
            </mat-chip-listbox>
          </div>
        </div>
      </mat-grid-tile-header>
      <div *ngIf="(documents$ | async)?.length else empty">
        <mat-grid-tile *ngFor="let item of documents$ | async">
          <document class="document-card" [document]="item"/>
        </mat-grid-tile>
      </div>
    </mat-grid-list>
  </div>
</div>

<ng-template #empty>
  <div class="empty-container">
    <div>
      <mat-icon svgIcon="magnifying-glass" style="transform: scale(3.5);"></mat-icon>
    </div>
    <div>
      <span style="font-size: 1.5rem">No documents found in this room</span>
    </div>
  </div>
</ng-template>

<ng-template #spinner>
  <div>
    <mat-spinner style="margin:0 auto;" mode="indeterminate"/>
  </div>
</ng-template>

<!--todo: create two modes of display here -> first if full text search, second if simple browsing through files -->
