<div *ngIf="selectedRoom$ | async as room" class="card-grid">
  <div *ngIf="!(loading$ | async) else spinner">
    <mat-grid-list [cols]="columns" rowHeight="4:6">
      <mat-grid-tile-header>
        <div class="header">
          <div style="display: inline-block;">
            <span class="title">{{room.name}}</span>
            <mat-icon matTooltip="This room is private" style="margin-bottom: -3px; margin-left: 4px" *ngIf="room.isPrivate">lock</mat-icon>
            <mat-icon matTooltip="This room is public" style="margin-bottom: -3px; margin-left: 4px" *ngIf="!room.isPrivate">lock_open</mat-icon>
          </div>
          <mat-divider/>
          <div class="filter-section" *ngIf="tagsNotEmpty | async">
            <span style="font-size: 1rem">Tags</span>
            <mat-chip-listbox [multiple]="true">
              <mat-chip *ngFor="let tag of tags$ | async">{{tag}}</mat-chip>
            </mat-chip-listbox>
          </div>
        </div>
      </mat-grid-tile-header>
      <mat-grid-tile *ngFor="let item of documents$ | async">
        <document class="document-card" [document]="item"/>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>

<ng-template #spinner>
  <div>
    <mat-spinner style="margin:0 auto;" mode="indeterminate"/>
  </div>
</ng-template>

<!--todo: create two modes of display here -> first if full text search, second if simple browsing through files -->
