<div class="container">
  <div class="title">
    <h1 style="font-size: 4rem">
      <b>Welcome to Search The Docs</b>
    </h1>
  </div>
  <mat-divider/>
  <div class="content">
    <h2>Create rooms, upload documents, share with your friends and search!</h2>
    <div style="margin-top: 10rem; display: flex; flex-direction: row;">
      <div class="icon-box">
        <mat-icon style="transform: scale(8)">folder</mat-icon>
      </div>
      <div class="icon-box">
        <mat-icon style="transform: scale(8)">library_books</mat-icon>
      </div>
      <div class="icon-box">
        <mat-icon style="transform: scale(8)">share</mat-icon>
      </div>
      <div class="icon-box">
        <mat-icon style="transform: scale(8)">search</mat-icon>
      </div>
    </div>
  </div>
</div>
