<mat-dialog-content>
  <form [formGroup]="form">
    <div style="flex: 1">
      <mat-form-field style="width: 100%">
        <mat-label>Room</mat-label>
        <mat-select formControlName="roomId">
          <mat-option *ngFor="let room of rooms$ | async" [value]="room.id">
            {{room.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="file-upload-container">
        <button mat-mini-fab color="white" [disabled]="form.controls.roomId === undefined" (click)="fileUpload.click()">
          <mat-icon>attach_file</mat-icon>
        </button>
        <span class="filename">{{ fileName || '' }}</span>
      </div>
    </div>
    <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload/>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button
          [disabled]="!form.valid"
          (click)="submit()" type="submit"
          [mat-dialog-close]="true">Upload
  </button>
  <button mat-button color="warn" mat-dialog-close>Cancel</button>
</mat-dialog-actions>
