::ng-deep .mat-mdc-snack-bar-container.snackbar-success {
  --mdc-snackbar-container-color: #00af00;
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}

::ng-deep .mat-mdc-snack-bar-container.snackbar-error {
  --mdc-snackbar-container-color: #ff0000;
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}
