<div class="search-container">
  <form class="example-form" [formGroup]="form">
    <mat-form-field [hideRequiredMarker]="true" class="example-full-width">
      <input matInput
             type="text"
             placeholder="Search..."
             formControlName="phrase"
             (keyup.enter)="$event.preventDefault(); search()">
      <button mat-icon-button matSuffix (click)="search()">
        <mat-icon style="scale: 1.3">search</mat-icon>
      </button>
      <button mat-icon-button matSuffix [matMenuTriggerFor]="menu">
        <mat-menu #menu="matMenu" style="overflow: hidden">
          <mat-form-field class="example-full-width">
            <mat-label>Context size</mat-label>
            <input matInput
                   type="number"
                   placeholder="eg. Default"
                   formControlName="size"
                   (keyup.enter)="search()"
                   (click)="$event.stopPropagation()"/>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Room</mat-label>
            <input matInput
                   placeholder="eg. Default"
                   formControlName="room"
                   (keyup.enter)="search()"
                   (click)="$event.stopPropagation()"/>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>User</mat-label>
            <input matInput
                   placeholder="eg. John"
                   formControlName="user"
                   (keyup.enter)="search()"
                   (click)="$event.stopPropagation()"/>
          </mat-form-field>
          <button mat-raised-button class="clear-button" (click)="clear()">
            Clear
          </button>
        </mat-menu>
        <mat-icon>filter_list</mat-icon>
      </button>
    </mat-form-field>
  </form>
  <div class="results">
    <result-table/>
  </div>
</div>
