.results-container {
  position: relative;
}

.results-table-container {
  position: relative;
  overflow: auto;
}

table {
  width: 100%;
  table-layout: fixed;
}

.results-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

th, td {
  overflow: hidden;
  width: 200px;
  max-width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-column-documentName {
  width: 180px;
}

.mat-column-room {
  width: 100px;
}

.mat-column-user {
  width: 100px;
}

.mat-column-count {
  width: 50px;
  text-align: right;
}

.mat-column-page {
  width: 50px;
  text-align: right;
}

.empty-container {
  top: 4rem;
  gap: 50px;
  text-align: center;
  height: 120px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
}

tr.result-detail-row {
  height: 0;
}

tr.result-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

tr.result-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.result-element-row td {
  border-bottom-width: 0;
}

.result-element-detail {
  overflow: hidden;
  display: flex;
}

.expanded-element-description {
  padding: 16px;
}

.fragment-text {
  display: table-row;
  overflow: auto;
  word-wrap: break-word;
  white-space: normal;
}

mat-list-item {
  display: table;
  margin: 1rem 0 1rem;
  border-radius: 4px;
  overflow: hidden;
}
