.example-container {
  position: relative;
}

.example-table-container {
  position: relative;
  overflow: auto;
}

table {
  width: 100%;
  table-layout: fixed;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

th, td {
  overflow: hidden;
  width: 200px;
  max-width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-column-documentName {
  width: 180px;
}

.mat-column-room {
  width: 100px;
}

.mat-column-user {
  width: 100px;
}

.mat-column-count {
  width: 50px;
  text-align: right;
}

.mat-column-page {
  width: 50px;
  text-align: right;
}

.empty-container {
  top: 4rem;
  gap: 50px;
  text-align: center;
  height: 120px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
